#footer-bottom
  .row
    #footer-bottom-widget-area-1.span6
      .widget.widget_text
        .textwidget
          #partner_logo.pull-left
            = link_to (image_tag "incredible_India.png", class: "responsive-img"), "http://www.incredibleindia.org", :target => "_blank"
            = link_to (image_tag "IBEF.png", class: "responsive-img"), "http://www.ibef.org", :target => "_blank"
            = link_to (image_tag "brand_india.png", class: "responsive-img"), "http://www.brandindiapharma.in", :target => "_blank"
            
    #footer-bottom-widget-area-2.span6.text-right
      %span.hidden-tablet.hidden-phone
        Copyright © 2012-2016 Synergene Global. All Rights Reserved
      %br
        = link_to "Terms and Conditions", ""
        = link_to "Disclaimer"
      / .widget.ewf_widget_social_media
      /   .fixed
      /     %a.facebook-icon.social-icon{:href => "#"}
      /       %i.fa.fa-facebook
      /     %a.googleplus-icon.social-icon{:href => "#"}
      /       %i.fa.fa-google-plus
      /     %a.linkedin-icon.social-icon{:href => "#"}
      /       %i.fa.fa-linkedin
      / incredible_India.png
      / IBEF.png
      / rxindia.png
