#header
  .row
    .span3
      = link_to root_path, id: "logo", 'data-no-turbolink' => true do
        = image_tag "logo3.png", class: "responsive-img"
    .span9
      %a#mobile-menu-trigger{:href => "#"}
        %i.fa.fa-bars
      %ul#menu.sf-menu
        %li{class: "#{request.fullpath == '/' ? 'current' : nil}"}
          = link_to "Home", root_path, 'data-no-turbolink' => true
        %li{class: "#{(request.fullpath == '/about-us' || request.fullpath == '/about-me') ? 'current' : nil}"}
          %a{:href => "about-us.html"} About us
          %ul
            %li
              = link_to "Our Team", about_us_path
            %li
              = link_to "Expertise", expertise_path
        %li{class: "#{(request.fullpath == '/services') ? 'current' : nil}"}
          = link_to "Services", services_path
          %ul
            - Service.all.sort.each do |service|
              %li
                = link_to service.menu_title, service_path(id: service.id)
        %li{class: "#{request.fullpath == '/contact' ? 'current' : nil}"}
          = link_to "Contact", contact_path, 'data-no-turbolink' => true
