#header
  .row
    .span3
      = link_to root_path, id: "logo" do
        = image_tag "logo.png", class: "responsive-img"
    .span9
      %a#mobile-menu-trigger{:href => "#"}
        %i.fa.fa-bars
      %ul#menu.sf-menu
        %li{class: "#{request.fullpath == '/' ? 'current' : nil}"}
          = link_to "Home", root_path
        %li{class: "#{(request.fullpath == '/about-us' || request.fullpath == '/about-me') ? 'current' : nil}"}
          %a{:href => "about-us.html"} About us
          %ul
            %li
              = link_to "Our Team", about_us_path
            %li
              = link_to "Expertice", about_me_path
        %li{class: "#{(request.fullpath == '/services') ? 'current' : nil}"}
          = link_to "Services", services_path
          %ul
            %li
              Access Indian Market
        %li{class: "#{request.fullpath == '/contact' ? 'current' : nil}"}
          = link_to "Contact", contact_path
